.gallery-img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border: 3px solid transparent;
}
.gallery-img:hover {
    transform: scale(1.05);
}
.gallery-img.active {
    border-color: #007bff;
}

#fitmix-container {
    width : 300px;
    height : 300px;
    display:none;
}

#loadingImages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.loading-placeholder {
    width: 300px;
    height: 200px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.imgResult{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.red {
    color: crimson;
}

.imgPreview {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.bg-light {
    background-color: #f8f9fa !important;
}
.p-3 {
    padding: 1rem !important;
}